{% extends 'core/main.html' %}

{% block content %}

<div class="home-container">

    <div>
        {% include "core/topics_component.html" %}
    </div>

    <div>
        <br>
        <big class="info">{{room_count}} posteos activos</big>
        {% if request.user.is_authenticated %}
        <a href="{% url 'create-room' %}" class="create-room" class="crear-sala">Postear</a>
        {% endif %}

        <hr>
        {% include "core/feed_component.html" %}
                
    </div>
        
    <div>
        {% include "core/activity_component.html" %}
    </div>

</div>

{% endblock %}