{% extends 'core/main.html' %}

{% block content %}


{% if page == "login" %}
<div>
    <form method="POST" action="" >
        {% csrf_token %}

        <label>Usuario:</label>
        <input type="text" name="username" placeholder="Ingrese su usuario" />

        <label>Contraseña:</label>
        <input type="password" name="password" placeholder="Ingrese se contraseña" />
        <input type="Submit" value="Ingresar" />
    </form>    
    <p>Todavia no tenes una cuenta?</p>
    <a href="{% url "register" %}">Registrarse</a>
</div>

{% else %}

<div>
    <form method="POST" action="" >
        {% csrf_token %}
        {{form.as_p}}

        <input type="Submit" value="Registrarse" />
    </form>
    <p>Ya tenes cuenta?</p>
    <a href="{% url "login" %}">Ingresar</a>
</div>
{% endif %}

{% endblock %}