{% extends 'core/main.html' %}
{% load tz %}

{% block content %}

<div class="room-container">

    <div>
        <a href="{% url 'user-profile' room.host.id  %}">@{{room.host.username}}</a>
        <br>
        <big class="room-title">{{room.name}}</big>
        <hr>
        <div class="img-container">
        {% if room.image %}
        <img src="{{ room.image.url }}" class="room-img">
        {% endif %}
        </div>
        <p>{{room.description}}</p>
        {% timezone "America/Buenos_Aires" %}
        <small>Creado: {{room.created}}</small>
        <br>
        <small>Editado: {{room.updated}}</small>
        {% endtimezone %}
        <br>
        {% if request.user == room.host or user.is_staff %}
            <a href="{% url 'update-room' room.id %}">editar</a>
            <a href="{% url 'delete-room' room.id %}">eliminar</a>
        {% endif %}

        <div class="comment-wrapper">
            <h3>Comentarios</h3>
            <hr>

            {% for message in room_messages %}
                <div>
                    
                    <medium><a href="{% url 'user-profile' message.user.id %}">@{{message.user}}</a> dijo hace {{message.created|timesince}}:</medium>
                    <p>{{message.body}}</p>
                    {% if request.user == message.user or user.is_staff %}
                    <a href="{% url "delete-message" message.id %}">Eliminar</a>
                    {% endif %}
                    <hr>
                </div>
            {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Escribe algo..." />
                <input type="Submit" value="Enviar" />
            </form>
        </div>
        {% endif %}

    </div>

    <div>
        <br>
        <big>Participantes</big>
        <hr>

        {% for user in participants %}
        <div>
            <a href="{% url 'user-profile' user.id %}">@{{user.username}}</a>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}