{% extends 'core/main.html' %}

{% block content %}

<div class="room-container">

    <div>

        <h1>{{room.name}}</h1>

        <p>{{room.description}}</p>

        <div class="comment-wrapper">
            <h3>Comentarios</h3>
            <hr>

            {% for message in room_messages %}
                <div>
                    {% if request.user == message.user or user.is_staff %}
                    <a href="{% url "delete-message" message.id %}">Delete</a>
                    {% endif %}
                    <medium>@{{message.user}} dijo hace {{message.created|timesince}}:</medium>
                    <p>{{message.body}}</p>
                    <hr>
                </div>
            {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Escribe algo..." />
                <input type="Submit" value="Enviar" />
            </form>
        </div>
        {% endif %}

    </div>

    <div>
        <h3>Participantes</h3>
        <hr>

        {% for user in participants %}
        <div>
            <p>@{{user.username}}</p>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}